body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(caffeine.jpg)center/cover no-repeat;  
    color: white;
    font-family: 'calibri', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.counter-box{
    flex: 0 0 70%;
    text-align: center;
    border: 3px solid grey;
    padding: 1rem;
    font-weight: bold;
    box-shadow: 1px 1px 10px 10px black;

}

.counter{
    font-size: 6rem;
}

.btn{
    display: block;
    font-size:2rem;
    margin: 0.5rem 0.25rem;
    padding: 0.5rem;
    color: black;
    background: #fff;
    border-radius: 8px;
    border: 3px solid #f15025;
    text-transform: capitalize;
    box-shadow: 0px 10px #001221;
    outline: none;
}

.btn:hover{
    background-color: #4caf50;
    opacity: 0.8;
    cursor: pointer;

}

.btn:active{
    box-shadow: none;
}